.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px; 
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logoImage {
    height: 32px;
    width: 32px;
    margin-right: 0.5rem;
  }
  
  .logoText {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
  }
  
  .navLinks {
    display: flex;
    align-items: center;
    gap: 1.7rem;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: var(--tertiary-color); 
  }
  
  .searchContainer {
    position: relative;
  }
  
  .searchIcon {
    font-size: 1.25rem;
    color: #555555;
    cursor: pointer;
  }
  
  /* Estilos para el input y el desplegable */
  .searchDropdown {
    position: absolute;
    top: 150%; /* Posicionar debajo del ícono de lupa */
    left: 0;
    width: 180px; /* Ancho del campo de búsqueda */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  
  .show {
    max-height: 50px; /* Ajusta la altura necesaria para mostrar el input */
    opacity: 1;
  }
  
  .searchInput {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    outline: none;
  }
  
  /* Sección Derecha: Carrito y Botón de Login */
  .rightSection {
    display: flex;
    align-items: center;
    gap: 1.7rem;
  }
  
  .cartIcon {
    position: relative;
    color: #555555;
    font-size: 1.25rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .cartIcon:hover, .searchIcon:hover {
    color: var(--tertiary-color); 
  }
  
  .cartCount {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #dc2626;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .loginButton {
    padding: 0.5rem 1rem;
    background-color: var(--tertiary-color); 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: var(--tertiary-color); 
  }
  