@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color:#323232 ;
  --secondary-color:#212121;
  --tertiary-color:#5E61AA ;
  --text-color: white;
  --otraopcionver: #333333; 
} */

body {
    @apply bg-primary flex flex-col min-h-screen mt-24
}

text, span, link {
  @apply text-white
}

.container {
  @apply mx-auto max-w-[90%]
}


h1 {
  @apply font-[var(--primary-font)]
}

button {
  @apply px-4 py-2 bg-tertiary text-white border-none rounded-md text-base transition duration-300 ease-in-out;
}

button:hover {
  @apply bg-secondary;
}